#table{
    background-color: #09322b;
    width: 1000px;
    height: 650px;
    border: 10px solid #6b3e26;
    border-radius: 40px 40px 100% 100%;
}
#juego1{
    color: white;
}
.botonesJuego{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.botonesJuego button{
    
}
#startGame{
    width: 150px;
    background-color: green;
    color: white;
}
#startGame:hover{
    color: white;
}
.apuesta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}